<h2 mat-dialog-title>Track data</h2>
<mat-dialog-content>
  <mat-tab-group
  mat-stretch-tabs
  	backgroundColor="primary">
    <mat-tab label="Basic info">
   		<div class="inputsContainer">
   			<div class="inputsDiv">
   				<mat-form-field
		          class="input"
		        >
		          <input 
		            matInput 
		            placeholder="Track title"
		            [(ngModel)]="data.title"
		            >
		        </mat-form-field>

		        <mat-form-field
		          class="input"
		        >
		          <input 
		            placeholder="Artist"
		            matInput 
		            [formControl]="myControl"
		            [(ngModel)]="data.artist"
		            [matAutocomplete]="auto"
		            >
		        </mat-form-field>
		        <mat-autocomplete #auto="matAutocomplete">
		        	<mat-option *ngFor="let option of filteredArtists | async" [value]="option">{{option}}</mat-option>
		        </mat-autocomplete>
   			</div>
   		
	   		<div class="avatarDiv">
	   			<div 
	   				mat-card-avatar 
	   				class="example-header-image" 
	   				id="trackImg"
	   				(click)="onImgClick()"
	   				></div>
	   		</div>
   		</div>
   		<div class="fileDrop">
		<file-drop 
		(onFileDrop)="dropped($event)" 
		    (onFileOver)="fileOver($event)" 
		    (onFileLeave)="fileLeave($event)">
		    <div class="fileDropText">{{content}}</div>
		    </file-drop>
		</div>

    </mat-tab>
    <mat-tab label="Extra info">
    	<div class="inputsContainer">
    	   	 <mat-form-field
          class="input"
          floatLabel="always"
        >
          <input 
	            matInput 
	            placeholder="Tags"
	            [(ngModel)]="data.tags"
	            >
        </mat-form-field>

        <mat-form-field
          class="textarea"      
          floatLabel="always"
        >
			<textarea 
	            matInput 
		            matTextareaAutosize
		            matAutosizeMaxRows="9"
		            matAutosizeMinRows="9"
	            placeholder="Lyrics"
	            class="textareaInput"
	            [(ngModel)]="data.lyrics"
	            ></textarea>
        </mat-form-field>

        <mat-form-field
          class="textarea"      
          floatLabel="always"
        >
			<textarea
	            matInput 
	            		            matTextareaAutosize
		            matAutosizeMaxRows="9"
		            matAutosizeMinRows="9"
	            placeholder="Translated lyrics"
	      		class="textareaInput"
	      		[(ngModel)]="data.translatedLyrics"
	             ></textarea>
        </mat-form-field>
        </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
	<div class="buttons">
	 <button 
		  mat-button 
		  class="ok" 
		  [disabled]="isDisabled" 
		  (click)="onOkClick()">Submit</button>
	  <button 
	  	mat-button 
	  	class="cancel" 
	  	(click)="onCancelClick()">Cancel</button>
	</div>
</mat-dialog-actions>
