	.smallDivider {
		margin-top: 2px;
		margin-bottom: 2px;
		margin-left: 40px;
		margin-right: 40px;
	}
	.subList {
		height: 143px;
		overflow: hidden;
	}

	.addIcon {
		margin: 12px 22px 12px 2px;
	}

	.search {
		margin: 5px 16px;
		width: 200px;
	}
	.searchInput {
		cursor: pointer;
	}
	.searchLabel {
		font-weight: bold;
		font-size: 16px;
	}