@import '~@angular/material/_theming';

$dark-primary: mat-palette($mat-green, 500, 300, 700);
  $dark-accent:  mat-palette($mat-grey, 600, 300, 900);
  $dark-warn:    mat-palette($mat-lime, A400, A100, A800);

  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);