<div class="layout">

<div class="appBar">
<mat-toolbar color="primary">
      <button
        type="button"
        mat-icon-button>
        <mat-icon
        class="iconFont">music_note</mat-icon>
      </button>
      <button
        type="button"
        mat-icon-button
        class="rightIcon">
      <mat-icon
      class="iconFont">power_settings_new</mat-icon>
      </button>
    </mat-toolbar>
  </div>

<mat-sidenav-container class="belowBar">
  <mat-sidenav
    #drawer
    mode="side"
    class="menu"
    fixedInViewport="false"
    disableClose="true"
    opened="true">
    <mat-nav-list>
      <a mat-list-item
      class="menuMainItem"
      (click)="onOpen()">Repository</a>
      <mat-divider></mat-divider>
      <submenu
       [children]="playlists"
       [name]="playlistsName"
       [itemName]="playlistsItem"
      ></submenu>
      <submenu
       [children]="artists"
       [name]="artistsName"
       [itemName]="artistsItem"
      ></submenu>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="container">
    Main content
  </mat-sidenav-content>
</mat-sidenav-container>
</div>